<html>
    <head>
      {% if title %}
      <title>{{ title }}</title>
      {% else %}
      <title>AWS</title>
      {% endif %}
    </head>
    <body>
        <div>AWS: <a href="/index">Home</a>
                  <a href="/login">Login</a>
                  <a href="/uc">Lambda</a></div>
        <hr>

        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}

        {% block content %}{% endblock %}
    </body>
</html>
