{% extends "base.html" %}

{% block content %}
<script>

function myFunction() {
    var xhttp = new XMLHttpRequest();
    xhttp.onreadystatechange = function() {
        if (this.readyState == 4 && this.status == 200) {
        document.getElementById("my-demo").innerHTML = this.responseText;
        }
    };
    xhttp.open("GET", "https://cn4awaxwh9.execute-api.ap-south-1.amazonaws.com/default/toUpperCase", true);
    xhttp.send();

}

</script>

<p>Hello {{ user.username }}<br>

<h1><span id="my-demo">!</span></h1>
<button onclick="myFunction()">Call Lambda Function</button><br>


</p>

<!--  -->
{% endblock %}
